django-crypto-fields==0.1.21
edc-action-item==0.1.33
edc-appointment==0.2.41
edc-auth
edc-dashboard
edc-export
edc-lab
edc-lab-dashboard
edc-locator
edc-metadata
edc-metadata-rules
edc-navbar
edc-offstudy
edc-pharmacy
edc-registration
